/* page two */
.billing-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: auto;
}
.billing-form div {
  width: 100%;
}
.billing-form div p {
  font-weight: 600;
}
.card-details {
  display: flex;
}
.card-info {
  width: 90%;
  margin-left: 10%;
  display: flex;
  justify-content: flex-end;
}
.card-info div {
  width: 90%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.exp-txt {
  white-space: nowrap;
}
.billing-final {
  width: 100%;
}
