/* page two */
.billing-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: auto;
}
.billing-form label p {
  font-weight: 600;
}
.card-details {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.card-no {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-details-g {
  width: 40%;
}
.card-no label {
  padding: 5% 0;
}
.card-details-g label {
  padding: 10% 0;
}
.billing-final {
  width: 100%;
}
