/* page three */
.taskone-pg-three {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.taskone-pg-three table {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  background-color: #fff;
  border-radius: 20px;
  margin: auto;
  box-shadow: 4px 8px rgba(121, 120, 120, 0.3);
  color: rgba(12, 12, 85, 0.787);
  overflow-y: auto;
  padding-bottom: 50px;
}
.taskone-pg-three form {
  width: 60%;
  margin: auto;
}
.taskone-pg-three table thead {
  width: 100%;
  background-color: rgba(31, 31, 241, 0.8);
  border-radius: 20px 20px 0px 0px;
  color: #fff;
}
.items-payment {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.items-payment tr {
  margin-top: 25px;
  margin-bottom: 25px;
}
hr {
  width: 90%;
  margin: auto;
  border: 0.5px solid rgba(12, 12, 85, 0.787);
  margin-bottom: 30px;
}
.total {
  border: 1px solid rgba(12, 12, 85, 0.787);
  padding: 1%;
  width: 80%;
  border-radius: 5px;
  font-size: 24px;
}
.thead {
  width: 80%;
  margin: auto;
}
.thead p {
  font-size: 28px;
}
tr td {
  font-size: 24px;
}
.price span {
  text-decoration: line-through;
  text-decoration-style: double;
}
