/* media queries */
@media screen and (max-width: 900px) {
  .pg-four-con,
  .taskone-pg-three table,
  .taskone-pg-three form,
  .billing-form,
  .task-one-pg-1 {
    width: 65%;
  }
}

@media screen and (max-width: 768px) {
  .pg-four-con,
  .taskone-pg-three table,
  .taskone-pg-three form,
  .billing-form,
  .task-one-pg-1 {
    width: 70%;
  }
  .task-one-pg-1 form div .desc {
    font-size: 18px;
  }
  .fa-check {
    padding: 20px;
    font-size: 35px;
  }
  .card-details {
    display: flex;
    flex-direction: column;
  }
  .card-details div {
    width: 100%;
  }
  .card-info {
    width: 100%;
    margin-left: 0px;
    display: flex;
    justify-content: space-between;
  }
  .card-info div {
    width: 95%;
    margin-left: 0px;
  }

  .items-payment,
  .total,
  .thead {
    width: 85%;
  }
  .thead p {
    font-size: 25px;
  }
  tr td {
    font-size: 22px;
  }
  .confirm-payment {
    width: 80%;
  }
}
@media screen and (max-width: 600px) {
  .pg-four-con,
  .taskone-pg-three table,
  .taskone-pg-three form,
  .billing-form,
  .task-one-pg-1 {
    width: 80%;
  }
  .locations {
    flex-direction: column;
  }
  .input-select-location {
    width: 100%;
    margin-left: 0px;
  }
  .fa-check {
    font-size: 30px;
  }

  .items-payment,
  .total,
  .thead,
  .card-details label {
    width: 90%;
  }
  .thead p {
    font-size: 24px;
  }
  tr td {
    font-size: 20px;
  }
  .confirm-payment {
    width: 90%;
  }
}
@media screen and (max-width: 480px) {
  .pg-four-con,
  .taskone-pg-three table,
  .taskone-pg-three form,
  .billing-form,
  .task-one-pg-1 {
    width: 90%;
  }
  .task-one-pg-1 form div .desc {
    font-size: 19px;
  }
  .fa-check {
    font-size: 25px;
  }
}
