.task-one-header {
  width: 60%;
  margin: auto;
}
.task-one-header h1 {
  color: rgba(12, 12, 85, 0.6);
}
.task-one-header div ul {
  padding: 0;
  margin: 40px 0px;
  border-bottom: 1px solid #000;
  padding-top: 35px;
  padding-bottom: 35px;
}

.task-one-header ul li {
  position: relative;
}
.inactive {
  color: rgba(12, 12, 85, 0.4);
  font-size: 28px;
}
.active.active::before {
  content: "ddddddddddddd";
  color: transparent;
  background-color: rgb(255, 102, 0);
  font-size: 24px;
  position: absolute;
  border-radius: 20px;
  top: 150%;
  width: 100%;
}

.active {
  color: rgb(255, 102, 0);
  font-size: 28px;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .task-one-header {
    width: 70%;
  }
  .task-one-header ul li .links,
  .active,
  .inactive {
    font-size: 24px;
  }
}
@media screen and (max-width: 600px) {
  .task-one-header div ul {
    overflow-x: auto;
  }
  .active.active::before {
    content: "ddddddddddd";
  }
  .task-one-header {
    width: 80%;
  }
  .task-one-header ul li .links,
  .active,
  .inactive {
    font-size: 21px;
  }
}
@media screen and (max-width: 480px) {
  .active.active::before {
    content: "dddddddd";
  }
  .task-one-header {
    width: 90%;
  }
  .task-one-header ul li .links,
  .active,
  .inactive {
    font-size: 19px;
  }
}
