.task-one-header {
  width: 60%;
  margin: auto;
}
.task-one-header h1 {
  color: rgba(12, 12, 85, 0.6);
}
.task-one-header div ul {
  padding: 0;
  margin: 40px 0px;
  border-bottom: 1px solid #000;
  overflow-x: auto;
}

.task-one-header ul li .links {
  color: rgba(12, 12, 85, 0.4);
  font-size: 28px;
}

li {
  background-color: transparent;
  display: flex;
  align-items: center;
  padding-bottom: 30px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .task-one-header {
    width: 70%;
  }
  .task-one-header ul li .links {
    font-size: 24px;
  }
}
@media screen and (max-width: 600px) {
  .task-one-header {
    width: 80%;
  }
  .task-one-header ul li .links {
    font-size: 22px;
  }
}
@media screen and (max-width: 480px) {
  .task-one-header {
    width: 90%;
  }
  .task-one-header ul li .links {
    font-size: 20px;
  }
}

li {
  position: relative;
  /* height: 25%; */
}
.active {
  content: " Personal Info";
  color: transparent;
  background-color: yellow;
  font-size: 28px;
  position: absolute;
  border-radius: 20px;
}
