.task-one-pg-1 {
  width: 60%;
  margin: auto;
}
.task-one-pg-1 form div p {
  font-weight: 600;
}
.task-one-pg-1 form div .desc {
  color: rgba(0, 0, 0, 0.3);
  font-size: 20px;
}
.locations {
  display: flex;
  justify-content: space-between;
}
.input-location {
  width: 100%;
}
.input-select-location {
  width: 90%;
  margin-left: 10%;
}
